
Meet
New meeting
Join a meeting
Hangouts

21 of many
js file
Inbox

santhosh balaji
AttachmentsTue, Apr 26, 12:39 PM (9 days ago)
 

nathiya ayyadurai
Attachments
Wed, Apr 27, 10:11 AM (8 days ago)
to me



On Tue, 26 Apr 2022 at 12:39, santhosh balaji <santhoshbalaji304@gmail.com> wrote:


Attachments area
.container
{
width: 350px;  
height: 450px;  
margin: 20px auto;  
border: 3px solid silver;  
border-radius: 5px;  
padding: 15px;  
text-align: center;  
background-color: #111113;
border-radius: 15px; 
}
input  
{  
width: 250px; 
height: 100px;
background-color: #111113;  
color: silver;  
border: 3px solid gray;  
    border-radius: 5px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 25px;  
    border-radius: 10px;
}  
button{
    
    width: 50px;
    height: 50px; 
    clip-path: circle();
    font-size: 20px;  
    margin: 5px;  
    border-color: #383B38;
    background-color: #383B38;  
    color: white;  

}
.btn{
    
    width: 50px;
    height: 50px; 
    clip-path: circle();
    font-size: 20px;  
    margin: 5px;  
    border-color: #383B38;
    background-color: #D88530;  
    color: white;  

}
.cal{
    color: silver;
}